.search-bar {
  text-align: center;
}

.search-bar input {
  width: 35%;
  margin: 20px;
}

.video-item img {
  max-width: 64px;
}

.video-detail {
  margin: auto;
}

#search-container {
  padding-bottom: 20px;
  background-color: white;
}

#description-container {
  background-color: white;
}

.details {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  width: 70%;
  /* visibility: hidden; */
}

.search-results {
  margin: auto;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.slider-container {
  /* margin: auto; */
  margin: 10px 0px 10px 0px;
}
