.search-bar {
  text-align: center;
}

.search-bar input {
  width: 35%;
  margin: 20px;
}

.video-item img {
  max-width: 64px;
}

.video-detail {
  /* margin: auto; */
}

#video-container {
  /* width: 70%; */
  /* margin: auto; */
}

#ytplayer {
  width: 70%;
}

#root {
}

#search-container {
  padding: 20px;
  background-color: white;
}

#description-container {
  background-color: white;
}

.controls {
  text-align: center;
}

.controls button {
  outline: none;
  margin: 20px;
}

.resize-video-btn {
  color: white;
  background-color: black;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
}

.details {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  width: 70%;
  /* visibility: hidden; */
}

.search-results {
  margin: auto;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.slider-container {
  margin: auto;
  margin-bottom: 20px;
}
